<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ElementMapper">

    <resultMap type='Element' id='ElementResult'>
        <id property='id' column='id' />
        <result property='serialNo' column='no_serie' />
        <result property='type' column='tipo' />
        <result property='brand' column='marca' />
        <result property='active' column='activo' />
    </resultMap>
        
    <select id="buscarElementosAsociados" resultMap="ElementResult" parameterType="map">
        SELECT no_serie,tipo,marca,activo
        FROM ELEMENT
        WHERE #{id} = computer_fk
    </select>
</mapper>