<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.LaboratoryMapper">

	<resultMap type='Laboratory' id='LaboratoryResult'>
		<id property='id' column='id' />
		<result property='name' column='nombre' />
		<result property='active' column='activo' />
	</resultMap>

	<select id="getLaboratories" resultMap="LaboratoryResult">
		SELECT
			l.id,
			l.nombre,
			l.activo
		FROM
			LABORATORY as l
	</select>

	<insert id="insertLaboratory" parameterType="edu.eci.cvds.entities.Laboratory">
		insert into
		BLOG_USUARIO(nombre, activo) values
		(#{name}, #{active})
	</insert>

	<delete id="deleteAll">
		delete from LABORATORY
	</delete>
</mapper>