<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper">
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id' />
        <result property='nombre' column='nombre' />
        <result property='ubicacion' column='ubicacion' />
        <result property='tipo' column='tipo' />
        <result property='capacidad' column='capacidad' />
        <result property='estado' column='estado' />
        <result property='horaInicio' column='inicioreserva' />
        <result property='horaFin' column='finreserva' />
    </resultMap>

    <select id="consultarRecursos" resultMap="RecursoResult">
        SELECT
        r.id,
        r.nombre,
        r.ubicacion,
        r.tipo,
        r.capacidad,
        r.estado,
        r.inicioreserva,
        r.finreserva
        FROM
        Recurso as r
    </select>

    <select id="consultarRecurso" parameterType="map" resultMap="RecursoResult">
        SELECT
        r.id,
        r.nombre,
        r.ubicacion,
        r.tipo,
        r.capacidad,
        r.estado,
        r.inicioreserva,
        r.finreserva
        FROM
        Recurso as r
        where r.id = #{id}
    </select>

    <insert id="addRecurso" parameterType="edu.eci.cvds.entities.Recurso">
        insert into Recurso (nombre,ubicacion,tipo,capacidad,estado,inicioreserva,finreserva)
        values (#{recurso.nombre},#{recurso.ubicacion},#{recurso.tipo},#{recurso.capacidad},#{recurso.estado},#{recurso.horaInicio},#{recurso.horaFin})
    </insert>
    
    <insert id="updateRecurso" parameterType="map">
        UPDATE Recurso
        SET estado = #{nuevoEstado}
        WHERE
        Recurso.id = #{recursoId}
    </insert>
    
    <select id="consultarRecursosDisponibles" resultMap="RecursoResult">
        SELECT
        r.id,
        r.nombre,
        r.ubicacion,
        r.tipo,
        r.capacidad,
        r.estado,
        r.inicioreserva,
        r.finreserva
        FROM
        Recurso as r
        WHERE
        r.ESTADO = 'Disponible';
    </select>
   
</mapper>