<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReporteMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id' />
        <result property='titulo' column='titulo' />
        <result property='dataInicio' column='inicio' />
        <result property='dataFim' column='fin' />
        <result property='diaInteiro' column='diaEntero' />
        <result property='tipoReserva' column='tipoReserva' />
        <result property='usuario' column='usuario' />
        <result property='recurso' column='recurso' />
        <result property='cantidad' column='cantidad' />
    </resultMap>
    
    <select id="recursosMasUsados" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM
        Reserva as r
        GROUP BY r.titulo
        ORDER BY cantidad desc
    </select>

    <select id="recursosMasUsadosPorFecha" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM
        Reserva as r
        where  r.inicio &gt;= #{fechaInicio} and r.fin &lt;= #{fechaFin}
        GROUP BY r.titulo
        ORDER BY cantidad desc    
    </select>
    
    <select id="recursosMasUsadosPorHora" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM
        Reserva as r
        where  r.inicio::time &gt;= #{horaInicio} AND r.fin::time &lt;= #{horaFin}
        GROUP BY r.titulo
        ORDER BY cantidad desc    
    </select>
    
    <select id="recursosMasUsadosPorPrograma" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM 
        Reserva as r join usuario
        on r.usuario = usuario.nombre 
        where carrera = #{program}
        GROUP BY r.titulo
        ORDER BY cantidad desc    
    </select>
    
    <select id="recursosMasUsadosPorTipoRecurso" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM 
        Reserva as r join recurso
        on r.recurso = recurso.id
        where recurso.tipo = #{tipoRecurso}
        GROUP BY r.titulo
        ORDER BY cantidad desc    
    </select>  
    
    <select id="recursosMenosUsados" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM
        Reserva as r
        GROUP BY r.titulo
        ORDER BY cantidad asc
    </select>

    <select id="recursosMenosUsadosPorFecha" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM
        Reserva as r
        where  r.inicio &gt;= #{fechaInicio} AND r.fin &lt;= #{fechaFin}
        GROUP BY r.titulo
        ORDER BY cantidad asc    
    </select>
    
    <select id="recursosMenosUsadosPorHora" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM
        Reserva as r
        where  r.inicio::time &gt;= #{horaInicio} AND r.fin::time &lt;= #{horaFin}
        GROUP BY r.titulo
        ORDER BY cantidad asc    
    </select>
    
    <select id="recursosMenosUsadosPorPrograma" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM 
        Reserva as r join usuario
        on r.usuario = usuario.nombre 
        where carrera= #{program}
        GROUP BY r.titulo
        ORDER BY cantidad asc    
    </select>
    
    <select id="recursosMenosUsadosPorTipoRecurso" resultMap="ReservaResult">
        SELECT
        r.titulo,
        COUNT(r.titulo) AS cantidad
        FROM 
        Reserva as r join recurso
        on r.recurso = recurso.id
        where recurso.tipo = #{tipoRecurso}
        GROUP BY r.titulo
        ORDER BY cantidad asc    
    </select>
    
    <select id="horariosMayorOcupacion" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM 
        Reserva as r
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad desc    
    </select>
    
    <select id="horariosMayorOcupacionPorFecha" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM
        Reserva as r
        where  r.inicio &gt;= #{fechaInicio} AND r.fin &lt;= #{fechaFin}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad desc    
    </select>
    
    <select id="horariosMayorOcupacionPorHora" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM
        Reserva as r
        where  r.inicio::time &gt;= #{horaInicio} AND r.fin::time &lt;= #{horaFin}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad desc    
    </select>
    
    <select id="horariosMayorOcupacionPorPrograma" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM 
        Reserva as r join usuario
        on r.usuario = usuario.nombre 
        where carrera= #{program}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad desc    
    </select>
    
    <select id="horariosMayorOcupacionPorTipoRecurso" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM 
        Reserva as r join recurso
        on r.recurso = recurso.id
        where recurso.tipo = #{tipoRecurso}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad desc    
    </select>
     
    <select id="horariosMenorOcupacion" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM 
        Reserva as r
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad asc    
    </select>
    
    <select id="horariosMenorOcupacionPorFecha" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM
        Reserva as r
        where  r.inicio &gt;= #{fechaInicio} AND r.fin &lt;= #{fechaFin}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad asc    
    </select>
    
    <select id="horariosMenorOcupacionPorHora" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM
        Reserva as r
        where  r.inicio::time &gt;= #{horaInicio} AND r.fin::time &lt;= #{horaFin}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad asc    
    </select>
    
    <select id="horariosMenorOcupacionPorPrograma" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM 
        Reserva as r join usuario
        on r.usuario = usuario.nombre 
        where carrera= #{program}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad asc    
    </select>
    
    <select id="horariosMenorOcupacionPorTipoRecurso" resultMap="ReservaResult">
        SELECT
        r.inicio,
        r.fin,      
        COUNT(r.inicio) AS cantidad
        FROM 
        Reserva as r join recurso
        on r.recurso = recurso.id
        where recurso.tipo = #{tipoRecurso}
        GROUP BY r.inicio,r.fin
        ORDER BY cantidad asc    
    </select>
    
    <select id="reservasRecurrentes" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM 
        Reserva as r
        where r.tiporeserva != 'Ninguno'      
    </select>
    
    <select id="reservasRecurrentesPorFecha" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM
        Reserva as r
        where r.tiporeserva != 'Ninguno' and r.inicio &gt;= #{fechaInicio} AND r.fin &lt;= #{fechaFin}
    </select>
    
    <select id="reservasRecurrentesPorHora" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM
        Reserva as r
        where  r.tiporeserva != 'Ninguno' and r.inicio::time &gt;= #{horaInicio} AND r.fin::time &lt;= #{horaFin}  
    </select>
    
    <select id="reservasRecurrentesPorPrograma" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM 
        Reserva as r join usuario
        on r.usuario = usuario.nombre 
        where r.tiporeserva != 'Ninguno' and  carrera= #{program}  
    </select>
    
    <select id="reservasRecurrentesPorTipoRecurso" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM 
        Reserva as r join recurso
        on r.recurso = recurso.id
        where  r.tiporeserva != 'Ninguno' and recurso.tipo = #{tipoRecurso} 
    </select>
     
    <select id="reservasCanceladas" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM 
        Reserva as r
        where r.estado = 'Cancelada'      
    </select>
    
    <select id="reservasCanceladasPorFecha" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM
        Reserva as r
        where r.estado = 'Cancelada' and r.inicio &gt;= #{fechaInicio} AND r.fin &lt;= #{fechaFin}
    </select>
    
    <select id="reservasCanceladasPorHora" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM
        Reserva as r
        where  r.estado = 'Cancelada' and r.inicio::time &gt;= #{horaInicio} AND r.fin::time &lt;= #{horaFin}  
    </select>
    
    <select id="reservasCanceladasPorPrograma" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM 
        Reserva as r join usuario
        on r.usuario = usuario.nombre 
        where r.estado = 'Cancelada' and  carrera= #{program}  
    </select>
    
    <select id="reservasCanceladasPorTipoRecurso" resultMap="ReservaResult">
        SELECT
        r.id,
        r.titulo,
        r.inicio,
        r.fin,
        r.diaEntero,
        r.tipoReserva,
        r.usuario,
        r.recurso
        FROM 
        Reserva as r join recurso
        on r.recurso = recurso.id
        where  r.estado = 'Cancelada' and recurso.tipo = #{tipoRecurso} 
    </select>
       
</mapper>