<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper">
        <resultMap type='Usuario' id='UsuarioResult'>
        <id property='correo' column='correo' />
        <result property='password' column='passwd' />
        <result property='nombre' column='nombre' />
        <result property='rol' column='passwd' />
        <result property='programa' column='programa' />
        <result property='carrera' column='carrera' />
    </resultMap>
    
    
    <select id="consultarUsuario" resultMap="UsuarioResult">
        SELECT
        u.correo,
        u.nombre,
        u.rol,
        u.programa,
        u.carrera
        FROM
        Usuario as u
        WHERE u.correo = #{correoU}
    </select>
</mapper>