<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config.properties">
	</properties>

	<typeAliases>
		<typeAlias type='edu.eci.cvds.entities.Laboratory' alias='Laboratory' />
		<typeAlias type='edu.eci.cvds.entities.Computer' alias='Computer' />
		<typeAlias type='edu.eci.cvds.entities.Element' alias='Element' />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/LaboratoryMapper.xml"></mapper>
		<mapper resource="mappers/ComputerMapper.xml"></mapper>
                <mapper resource="mappers/ElementMapper.xml"></mapper>
                <mapper resource="mappers/UsuarioMapper.xml"></mapper>
                <mapper resource="mappers/RecursoMapper.xml"></mapper>
	</mappers>

</configuration>